

<div class="container">
  <div class="row">
    <div [@inAnimation] [ngClass]="zmiany ? 'col-md-5' : 'col-md-12'" class="">
      <div [ngClass] = "!zmiany ? 'border-bottom' : 'border_bottom'" class="row  tHead">
        <div [ngClass] = "!zmiany ? 'col-md-3' : 'col'" class="border_dashed">Imie i nazwisko:</div>
        <div [ngClass] = "!zmiany ? 'col-md-2' : 'col'" class="border_dashed">Miasto:</div>
        <div *ngIf = "!zmiany" class="col-md-2 border_dashed ">nr telefonu:</div>
        <div *ngIf = "!zmiany" class="col border_dashed">E-mail</div>
      </div>

      <div class="row pb-2 pt-3 focus" *ngFor = "let k of kontakty; let i = index" (click) = detale(i)>
        <div [ngClass] = "!zmiany ? 'col-md-3' : 'col'" class="border_dashed">{{k.imie}} {{k.nazwisko}} </div>
        <div [ngClass] = "!zmiany ? 'col-md-2' : 'col'" class="border_dashed">{{k.adres[0].miasto}}</div>
        <div *ngIf = "!zmiany" class="col-md-2 border_dashed">{{k.tel}}</div>
        <div *ngIf = "!zmiany" class="col border_dashed">{{k.email}}</div>
      </div>
    </div>
    <div [@inAnimation] *ngIf="zmiany" id = "detale" [ngClass]="zmiany ? 'col-md-7' : 'col2'">
      <app-kontakty-detale [zmiany] = "zmiany" [kontakt] = "kontakt" (zamknijDetale) = "aktualizacja_test($event)" ></app-kontakty-detale>
    </div>
  </div>


</div>



