.tHead {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: bold;
}

.focus {


  transition: background-color 1s;

    &:hover {
      background-color: #3b5b96;
    }

    &:focus {
      background-color: #3b5b96;
    }
}

