<div class="myContainer">
  <div class="row border_bottom">
    <div class="col ">
      <header><span class="pr-2">[ {{kontakt.nrKlienta}} ]</span> {{kontakt.imie}} {{kontakt.nazwisko}} </header>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <i class="fas fa-user-cog pr-3 set" (click) = 'edycja()' ></i>
      <i class="far fa-trash-alt pr-3 set" (click) = "delete()"></i>
      <i class="far fa-times-circle set" alt = "zamknij" (click) = "zamknij()"></i>
    </div>
  </div>

  <div  class="row mt-5 border_bottom pb-3 mb-4">
    <div class="col border_dashed seting" *ngFor="let a of adres">
      <h5><i class="fas fa-map-marker-alt mr-2"></i>{{a.typAdres}} </h5>
      <div>Ul. {{a.ul}} {{a.nrLokalu}}</div>
      <div> {{a.kodPocztowy}} {{a.miasto}}</div>
    </div>
  </div>

   <div class="row">
    <div *ngIf = "kontakt.tel" class="col border_dashed seting">
      <h5><i class="fas fa-phone mr-2"></i>Telefon:</h5>
      <div> {{kontakt.tel}} </div>
    </div>

    <div *ngIf = "kontakt.email" class="col border_dashed seting">
      <h5><i class="fas fa-at mr-2"></i>E-mail:</h5>
      <div> {{kontakt.email}} </div>
    </div>

  </div> 

 
    
  </div>

  
 <!-- <div *ngIf = 'edycja' class="row mt-5 border_bottom pb-3 mb-4">
    <div class="col  seting">
      <app-kontakty-edycja [kontakt] = "kontakt"></app-kontakty-edycja>
    </div>
  </div> -->

  <!-- <div class="row">
  <div class="col">

    <ul *ngFor = "let a of kontakt.adres; ">
      <p> {{a.typAdres}}: </p>
      <li> {{a.ul}} {{a.nrLokalu}} </li>
      <li> {{a.kodPocztowy}} {{a.miasto}} </li>
    </ul>
  </div>

  <div class="col">
    <p>Numery telefonów:</p>
    <ul>
      <li > {{kontakt.tel}} </li>
    </ul>

    <p>Adresy E-mail:</p>
    <ul>
      <li > {{kontakt.email}} </li>
    </ul>
  </div>

</div> -->