<div class="row">
  <div class="col">

    <ul *ngFor = "let a of kontakt.adres; let i = index">
      <p>Adres: {{i+1}}</p>
      <li> {{a.ul}} {{a.nrLokalu}} </li>
      <li> {{a.kodPocztowy}} {{a.miasto}} </li>
    </ul>
  </div>

  <div class="col">
    <p>Numery telefonów:</p>
    <ul>
      <li *ngFor = "let k of kontakt.tel"> {{k.typTel}}: {{k.numer}} </li>
    </ul>

    <p>Adresy E-mail:</p>
    <ul>
      <li *ngFor = "let e of kontakt.email"> {{e.typMail}}: {{e._email}} </li>
    </ul>
  </div>

</div>

