<div class="myContainer">
  <form (ngSubmit) = "add()" action="">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="imie">Imię:</label>
        <input id="imie" [(ngModel)]="imie" class="form-control" type="text"  name="imie"/>
      </div>
      <div class="form-group col-md-6">
        <label for="nazwisko">Nazwisko:</label>
        <input id="nazwisko" [(ngModel)]="nazwisko" class="form-control" type="text" name="nazwisko"/>
      </div>
    </div>

    <button type="submit" class="btn btn-outline-success">Dodaj</button>

  </form>
</div>
