// checkbox
//vars
$accent-font-color: #DB324D;
$border-color: #5a5a5a;

$icon-color-1: #fff;
$icon-color-2: #00711b;
$icon-color-3: #FD5200;
$icon-color-4: #72195A;
$icon-color-5: #275DAD;

$icon-bg-1: #1B998B;
$icon-bg-2: #275DAD;

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

/* input styles */

.checkbox-block {
  display: flex;
  justify-content: space-between;
}

.checkbox-effect:not(:checked),
.checkbox-effect:checked{
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
}


.checkbox-effect-6:not(:checked) + label:before,
.checkbox-effect-6:checked + label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 20px;
}

.checkbox-effect-6:not(:checked) + label:after,
.checkbox-effect-6:checked + label:after {
  content: "\f00c";
  font: {
    family: fontawesome;
    size: 21px;
  }
  display: flex;
  height: 100%;
  align-items:center;
  @include position-absolute($left: 1px, $top: -2px);
  color: $icon-color-5;
  text-shadow: 0px -1px 0px #fff;
  transform-origin: center center;
}

.checkbox-effect-6:not(:checked) + label:after {
  transform: scale(1,0);
}

.checkbox-effect-6:checked + label:after {
  transform: scale(1,1);
  @include transition-mix;
}



// ------------------------